################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite~Stashed changes_0
/.vs/slnx.sqlite~Stashed changes
/.vs/slnx.sqlite
/.vs/Schedulingillya/v16/.suo~Stashed changes
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/SchedulingMain/v16/.suo
/.vs/Schedulingillya/v16/.suo
/.vs/Scheduling/v16/TestStore/0/testlog.manifest
/.vs/Scheduling/v16/TestStore/0/000.testlog
/.vs/Scheduling/v16/.suo~ef0302dd2138e5ab4301184195a926bab06da794
/.vs/Scheduling/v16/.suo
/.vs/Scheduling/DesignTimeBuild/.dtbcache.v2~ef0302dd2138e5ab4301184195a926bab06da794
/.vs/Scheduling/DesignTimeBuild/.dtbcache.v2
/.vs/Scheduling/config/applicationhost.config
