################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite~Stashed changes_0
/.vs/slnx.sqlite~Stashed changes
/.vs/slnx.sqlite
/.vs/Schedulingillya/v16/.suo~Stashed changes
/.vs/slnx.sqlite-journal
