h5{
    transition: 0.1s;
}

#vacation-history{
    border: 1px solid lightgray;
    padding: 50px;
    border-radius: 15px;
    position: relative;
}

#history{
    padding: 15px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: 0.1s;
}

#history td, #history th{
    padding: 5px;
    border-left: 1px solid lightgray;
}

#history th{
    text-align: center;
}

#history tr:nth-child(1){
    background-color: lightgray;
}

#history tr:nth-child(2n+2){
    background-color: whitesmoke;
}
#history td:nth-child(4){
    text-align: center;
}
#history button{
    background-color: #0275d8;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.blured{
    filter: blur(10px) grayscale(100%);
}

.overflow-loading{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.overflow-loading > .loading-container{
    width: auto;
    height: auto;
}